:root {
	--card-height: 40vw;
	--card-margin: 4vw;
	--card-top-offset: 0em;
	--numcards: 4;
	--outline-width: 0px;
}

.landSection2 .stick-para {
	position: sticky;
	top: 17vh;
	left: 9vw;
}

.landSection7 .stick-para {
	position: sticky;
	top: 10vh;
}

.stick-para {
	position: sticky;
	top: 2vh;
}

.BusinessSection4 .stick-para {
	position: sticky;
	top: 12vh;
}

.BusinessSection6 .stick-para {
	position: sticky;
	top: -8vh;
}

.teamLeaderSection3 .cardParallax img {
	transform: scale(.7);
}

.teamLeaderSection3 .stick-para {
	position: sticky;
	top: 12vh;
}

.BusinessSection4 .cardParallax img {
	transform: scale(.7);
}

.ongoing-project.stick-parallax {
	position: sticky;
	top: 2vh;
	padding-top: calc(var(--index) * var(--card-top-offset));
}

@media only screen and (max-width: 600px) {
	.landSection2 .stick-para {
		/* display: none; */
		position: static;

	}

	.landSection7 .stick-para {
		/* display: none; */
		position: static;


	}

	.stick-parallax {
		/* display: none; */
		position: static;


	}
}
.splide__progress__bar {
	height: 3px;
	background: #ccc;
  }